# Зависимости
node_modules/
package-lock.json

# Файлы окружения
.env
.env.local
.env.production

# Загрузки
uploads/
*.log
npm-debug.log*

# Системные файлы
.DS_Store
Thumbs.db
desktop.ini

# Редакторы
.vscode/
.idea/
*.swp
*.swo

# Временные файлы
*.tmp
*.temp